<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
		<%= f.label :username, "Username" %>
		<%= f.text_field :username %>
	</div>

	<div class="field">
		<%= f.label :email, "Email" %>
		<%= f.text_field :email %>
	</div>

	<div class="field">
		<%= f.label :password, "Password" %>
		<%= f.password_field :password %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation, "Password" %>
		<%= f.password_field :password_confirmation %>
	</div>

<% if current_user.role_symbols.index(:admin) != nil %>
	<div class="roles">
		<% Role.all.each do |role| %>
		<%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %> <%= role.name %>
		<% end %>
	</div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
